<!DOCTYPE html>
<html>
<head>
    <title>YouTube Audio & Video Downloader</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>YouTube Audio & Video Downloader</h1>
    <form action="/" method="post">
        <label for="video_link">Paste YouTube Video Link:</label>
        <input type="text" id="video_link" name="video_link" required>
        <button type="submit">Download Video</button>
        <button type="submit" name="audio">Download Audio</button>
    </form>
    
    <div class="loading-overlay">
        <div class="loading-spinner"></div>
    </div>
    
    {% if download_link %}
        {% if 'audio' in request.form %}
            <p>Download audio: <a href="{{ download_link }}">Download</a></p>
        {% else %}
            <p>Download video: <a href="{{ download_link }}">Download</a></p>
        {% endif %}
    {% endif %}
    
    <script>
        const loadingOverlay = document.querySelector('.loading-overlay');
        const form = document.querySelector('form');

        form.addEventListener('submit', () => {
            loadingOverlay.style.display = 'block';
        });
    </script>
</body>
</html>
